<div class="row">
	<div class="col m12">
		<h3>{{user.username}}'s Bucket List</h3>
	</div>
</div>
<div class="row">
	<div class="col m12">
		<table class="centered">
			<thead>
				<tr>
					<th>Status</th>
					<th>Title</th>
					<th>Description</th>
					<th>Owner</th>
					<th>Date Created</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in user.items track by $index">
					<td ng-show="!item.done">
						<input id="{{item._id}}" ng-checked="item.done" ng-model="completed" ng-click="done(item._id, completed)" type="checkbox" class="filled-in" disabled="disabled">
						<label for="{{item._id}}"></label>
					</td>
					<td ng-show="!item.done">{{item.title}}</td>
					<td ng-show="!item.done">{{item.description}}</td>
					<td ng-show="!item.done"><a ui-sref="dashboard.user({id: '{{item.user_id._id}}'})" class="chip">{{item.user_id.username}}</a></td>
					<td ng-show="!item.done">{{item.created_at | date: 'short'}}</td>
				</tr>
				<tr ng-repeat="item in user.items track by $index">
					<td ng-show="item.done">
						<input id="{{item._id}}" ng-checked="item.done" ng-model="completed" ng-click="done(item._id, completed)" type="checkbox" class="filled-in" disabled="disabled">
						<label for="{{item._id}}"></label>
					</td>
					<td ng-show="item.done">{{item.title}}</td>
					<td ng-show="item.done">{{item.description}}</td>
					<td ng-show="item.done"><a ui-sref="dashboard.user({id: '{{item.user_id._id}}'})" class="chip">{{item.user_id.username}}</a></td>
					<td ng-show="item.done">{{item.created_at | date: 'short'}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>